Repository srz-zumix/wandbox-api, changes with the labels that .github/labeler.yml gives for each.
All labels: Bash script, C, CMake, CoffeeScript, CPP, Crystal, C#, C++, D, Elixir, Erlang, F#, Haskell, Go, Groovy, Java, JavaScript, Julia, Lazy K, Lisp, Lua, Nim, OCaml, OpenSSL, Pascal, Perl, PHP, Pony, Python, R, Rill, Ruby, Rust, Scala, SQL, Swift, TypeScript, Vim script, Zig, CI, documents

.github/labeler.yml:

Bash script:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__bash__.py'
      - 'samples/command/src/bash/**/*'
C:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__cc__.py'
      - 'samples/command/src/cc/**/*'
CMake:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__cmake__.py'
      - 'samples/command/src/cmake/**/*'
CoffeeScript:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__coffee__.py'
      - 'samples/command/src/coffee/**/*'
CPP:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__cpp__.py'
      - 'samples/command/src/cpp/**/*'
Crystal:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__crystal__.py'
      - 'samples/command/src/crystal/**/*'
C#:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__csharp__.py'
      - 'samples/command/src/csharp/**/*'
C++:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__cxx__.py'
      - 'samples/command/src/cxx/**/*'
D:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__dmd__.py'
      - 'wandbox/__dub__.py'
      - 'samples/command/src/dmd/**/*'
      - 'samples/command/src/dub/**/*'
Elixir:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__elixir__.py'
      - 'samples/command/src/elixir/**/*'
Erlang:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__erlang__.py'
      - 'samples/command/src/erlang/**/*'
F#:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__fsharp__.py'
      - 'samples/command/src/fsharp/**/*'
Haskell:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__ghc__.py'
      - 'samples/command/src/haskell/**/*'
      - 'samples/command/src/haskell-stack/**/*'
Go:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__go__.py'
      - 'samples/command/src/go/**/*'
Groovy:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__groovy__.py'
      - 'samples/command/src/groovy/**/*'
Java:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__java__.py'
      - 'samples/command/src/java/**/*'
JavaScript:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__js__.py'
      - 'samples/command/src/js/**/*'
Julia:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__julia__.py'
      - 'samples/command/src/julia/**/*'
Lazy K:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__lazyk__.py'
      - 'samples/command/src/lazyk/**/*'
Lisp:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__lisp__.py'
      - 'samples/command/src/lisp/**/*'
Lua:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__lua__.py'
      - 'samples/command/src/lua/**/*'
Nim:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__nim__.py'
      - 'samples/command/src/nim/**/*'
OCaml:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__ocaml__.py'
      - 'samples/command/src/ocaml/**/*'
OpenSSL:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__openssl__.py'
      - 'samples/command/src/openssl/**/*'
Pascal:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__pascal__.py'
      - 'samples/command/src/pascal/**/*'
Perl:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__perl__.py'
      - 'samples/command/src/perl/**/*'
PHP:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__php__.py'
      - 'samples/command/src/php/**/*'
Pony:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__pony__.py'
      - 'samples/command/src/pony/**/*'
Python:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__python__.py'
      - 'samples/command/src/python/**/*'
R:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__r__.py'
      - 'samples/command/src/r/**/*'
Rill:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__rill__.py'
      - 'samples/command/src/rill/**/*'
Ruby:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__ruby__.py'
      - 'samples/command/src/ruby/**/*'
Rust:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__rust__.py'
      - 'samples/command/src/rust/**/*'
Scala:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__scala__.py'
      - 'samples/command/src/scala/**/*'
SQL:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__sql__.py'
      - 'samples/command/src/sql/**/*'
Swift:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__swift__.py'
      - 'samples/command/src/swift/**/*'
TypeScript:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__tsc__.py'
      - 'samples/command/src/ts/**/*'
Vim script:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__vim__.py'
      - 'samples/command/src/vim/**/*'
Zig:
  - changed-files:
    - any-glob-to-any-file:
      - 'wandbox/__zig__.py'
      - 'samples/command/src/zig/**/*'
CI:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**/*'
documents:
  - changed-files:
    - any-glob-to-any-file:
      - 'README.md'

fix test
  .github/workflows/tests.yml
Labels: CI

update container
  .github/workflows/tests.yml
Labels: CI

up
  Makefile
Labels: none

feature/fix test (#135)
  .github/workflows/tests.yml
  Makefile
Labels: CI

Update README.md
  README.md
Labels: documents

Update README.md
  README.md
Labels: documents

Update README.md (#137)
  README.md
Labels: documents

Update label.yml
  .github/workflows/label.yml
Labels: CI

test
  .github/workflows/label.yml
Labels: CI

Update label.yml
  .github/workflows/label.yml
Labels: CI

Update label.yml (#139)
  .github/workflows/label.yml
Labels: CI

Rename label.yml to labeler.yml
  .github/workflows/label.yml
  .github/workflows/labeler.yml
Labels: CI

Delete .github/workflows/greetings.yml
  .github/workflows/greetings.yml
Labels: CI
